<div ng-controller="memCtrl">

    <!-- <div class="panel"  ng-class="{center: pageLevel == 0, left: pageLevel == 1}"> -->

        <div class="menu_memoriser">

            <a href="#memoriser" ng-click="increaseLevel()">
                
                <button id="bouton_memoriser" class="bouton">

                    <span class="icon-memoriser" alt="DREAMORIZE - Mémoriser"></span>
                    <p class="titre_bouton1">MÉMORISER</p>

                </button>

            </a>
            
        </div>

        <!-- <nav class="menu_bouton">

             <a href="#explorer">

                <button id="bouton_explorer" class="bouton">

                    <img src="img/dreamorize_bouton1.png" alt="DREAMORIZE - Explorer">
                    <p class="titre_bouton">EXPLORER</p>

                </button>

            </a>

            <a href="#visualiser">

                <button id="bouton_visualiser" class="bouton">

                <img src="img/dreamorize_bouton1.png" alt="DREAMORIZE - Visualiser" id="bouton_visualiser">
                <p class="titre_bouton">VISUALISER</p>

                </button>

            </a>


            <a href="#partager">

                <button id="bouton_partager" class="bouton">

                <img src="img/dreamorize_bouton1.png" alt="DREAMORIZE - Partager" id="bouton_partager">
                <p class="titre_bouton">PARTAGER</p>

                </button>

            </a>

        </nav> -->

        <nav class="menu">

            <table class="menu_bouton">

                <tr>

                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>

                </tr>

                <tr>

                    <td>

                        <a href="#explorer">

                            <button id="bouton_explorer" class="bouton">
                                <span class="icon-explorer" alt="DREAMORIZE - Explorer"></span>
                            </button>

                        </a>

                    </td>

                    <td>

                        <a href="#visualiser">

                            <button id="bouton_visualiser" class="bouton">
                                 <span class="icon-visualiser" alt="DREAMORIZE - Visualiser"></span>
                            </button>

                        </a>

                    </td>

                    <td>

                        <a href="#partager">

                            <button id="bouton_partager" class="bouton">
                                  <span class="icon-echanger" alt="DREAMORIZE - Echanger"></span>
                            </button>

                        </a>

                    </td>

                </tr>

                <tr>

                    <td><p class="titre_bouton">EXPLORER</p></td>
                    <td><p class="titre_bouton bouton">VISUALISER</p></td>
                    <td><p class="titre_bouton">PARTAGER</p></td>

                </tr>

            </table>

        </nav>

    <!-- </div> -->

   <!-- <div class="panel right"  ng-class="{center: pageLevel == 1, right: pageLevel == 0}">

        <nav class="nav-center">

            <a href="">

                <img class="button" src="img/round_brain.png"/>
                <p>VOCAL</p>

            </a>

            <a href="">

                <img class="button" src="img/round_brain.png"/>
                <p>QUESTIONS</p>

            </a>

        </nav>

   </div> -->

</div>