<table class="tab_question">

	<tr>

		<td>

			<a href="#questions_lieu">
	                
		    <button class="bouton">

		        <img src="img/pictos/memoriser/questionnaire/icon-fleche-gauche.png" alt="DREAMORIZE - Retour à  la question précédente">

		    </button>

	    	</a>

	    </td>

		<td>&nbsp;</td>

		<td>

			<p>QUI ÉTAIT DANS TON RÊVE ?</p>

		</td>

		<td>&nbsp;</td>

		<td>

			<a href="#questions_action">
	                
		        <button class="bouton">

		            <img src="img/pictos/memoriser/questionnaire/icon-fleche-droite.png" alt="DREAMORIZE - Aller à la question suivante">

		        </button>

	    	</a>

		</td>

	</tr>

</table>

<table class="tab_question">

	<tr>

		<td>

			<a href="#questions_personnage_humain">
	                
		        <button class="bouton">

		            <img src="img/pictos/memoriser/questionnaire/personnage/humain/icon-humain-toi.png"alt="DREAMORIZE - toi">

		        </button>

	    	</a>

		</td>

		<td>

			<a href="#questions_personnage">
	                
		        <button class="bouton">

		            <img src="img/pictos/memoriser/questionnaire/personnage/humain/icon-humain.png" alt="DREAMORIZE - Humain">

		        </button>

	    	</a>

		</td>

		<td>

			<a href="#questions_personnage_humain">
	                
		        <button class="bouton">

		            <img src="img/pictos/memoriser/questionnaire/personnage/humain/icon-humain-famille.png" alt="DREAMORIZE - famille">

		        </button>

	    	</a>

		</td>

	</tr>

	<tr>

		<td>toi</td>
		<td>Humain</td>
		<td>famille</td>

	</tr>

	<tr>

		<td>

			<a href="#questions_personnage_humain">
	                
		        <button class="bouton">

		            <img src="img/pictos/memoriser/questionnaire/personnage/humain/icon-humain-ami.png" alt="DREAMORIZE - ami">

		        </button>

	    	</a>

		</td>

		<td>

			<a href="#questions_personnage_humain">
	                
		        <button class="bouton">

		            <img src="img/pictos/memoriser/questionnaire/personnage/humain/icon-humain-amour.png" alt="DREAMORIZE - amour">

		        </button>

	    	</a>

		</td>

		<td>

			<a href="#questions_personnage_humain">
	                
		        <button class="bouton">

		            <img src="img/pictos/memoriser/questionnaire/personnage/humain/icon-humain-contact.png" alt="DREAMORIZE - contact">

		        </button>

	    	</a>

		</td>

	</tr>

	<tr>

		<td>ami</td>
		<td>amour</td>
		<td>contact</td>

	</tr>

	<tr>

		<td>

			<a href="#questions_personnage_humain">
	                
		        <button class="bouton">

		            <img src="img/pictos/memoriser/questionnaire/personnage/humain/icon-humain-inconnu.png" alt="DREAMORIZE - inconnu">

		        </button>

	    	</a>

		</td>

		<td>

			<a href="#questions_personnage_humain">
	                
		        <button class="bouton">

		            <img src="img/pictos/memoriser/questionnaire/personnage/humain/icon-humain-collegue.png" alt="DREAMORIZE - collègue">

		        </button>

	    	</a>

		</td>

		<td>

			<a href="#questions_personnage_humain">
	                
		        <button class="bouton">

		            <img src="img/pictos/memoriser/questionnaire/personnage/humain/icon-humain-star.png" alt="DREAMORIZE - star">

		        </button>

	    	</a>

		</td>

	</tr>

	<tr>

		<td>inconnu</td>
		<td>collègue</td>
		<td>star</td>

	</tr>

</table>

<table class="tab_question">

	<tr>

		<td>

			<a href="#questions_personnage">
	                
		        <button class="bouton">

		            <img src="img/pictos/memoriser/questionnaire/icon-retour.png" alt="DREAMORIZE - Retour à la question">

		        </button>

	    	</a>

		</td>

		<td>

			<a href="#questions_action">
	                
		        <button class="bouton">

		            <img src="img/pictos/memoriser/questionnaire/icon-valider.png" alt="DREAMORIZE - Aller à la prochaine question">

		        </button>

	    	</a>

		</td>

	</tr>

</table>

<footer id="evolution_questionnaire">
               
	<img src="img/dreamorize_evolution.png" alt="DREAMORIZE - Evolution du questionnaire">
	
</footer>