<table class="tab_question">

	<tr>

		<td>

			<a href="#questions_emotion">
	                
		    <button class="bouton">

		        <span class="icon-fleche"></span>

		    </button>

	    	</a>

	    </td>

		<td>&nbsp;</td>

		<td>

			<p class="intitule_question">OÙ SE PASSAIT TON RÊVE ?</p>

		</td>

		<td>&nbsp;</td>

		<td>

			<a href="#questions_personnage">
	                
		        <button class="bouton">

		            <span class="icon-fleche"></span>

		        </button>

	    	</a>

		</td>

	</tr>

</table>

<table class="tab_question">

	<tr>

		<td>

			<a href="#questions_lieu">
	                
		        <button class="bouton">

		            <span class="icon-maison"></span>

		        </button>

	    	</a>

		</td>

		<td>

			<a href="#questions_lieu">
	                
		        <button class="bouton">

		            <span class="icon-travail"></span>

		        </button>

	    	</a>

		</td>

		<td>

			<a href="#questions_lieu">
	                
		        <button class="bouton">

		            <span class="icon-ecole"></span>

		        </button>

	    	</a>

		</td>

	</tr>

	<tr>

		<td><p>Maison</p></td>
		<td><p>Travail</p></td>
		<td><p>École</p></td>

	</tr>

	<tr>

		<td>

			<a href="#questions_lieu">
	                
		        <button class="bouton">

		            <span class="icon-public"></span>

		        </button>

	    	</a>

		</td>

		<td>

			<a href="#questions_lieu">
	                
		        <button class="bouton">

		            <span class="icon-commerce"></span>

		        </button>

	    	</a>

		</td>

		<td>

			<a href="#questions_lieu">
	                
		        <button class="bouton">

		            <span class="icon-transport"></span>

		        </button>

	    	</a>

		</td>

	</tr>

	<tr>

		<td><p>Public</p></td>
		<td><p>Commerce</p></td>
		<td><p>Transport</p></td>

	</tr>

	<tr>

		<td>

			<a href="#questions_lieu">
	                
		        <button class="bouton">

		            <span class="icon-urbain"></span>

		        </button>

	    	</a>

		</td>

		<td>

			<a href="#questions_lieu">
	                
		        <button class="bouton">

		            <span class="icon-rural"></span>

		        </button>

	    	</a>

		</td>

		<td>

			<a href="#questions_lieu">
	                
		        <button class="bouton">

		            <span class="icon-loisirs"></span>

		        </button>

	    	</a>

		</td>

	</tr>

	<tr>

		<td><p>Urbain</p></td>
		<td><p>Rural</p></td>
		<td><p>Loisirs</p></td>

	</tr>

	<tr>

		<td>

			<a href="#questions_lieu">
	                
		        <button class="bouton">

		            <span class="icon-vacances"></span>

		        </button>

	    	</a>

		</td>

		<td>

			<a href="#questions_lieu">
	                
		        <button class="bouton">

		            <span class="icon-imaginaire_lieu"></span>

		        </button>

	    	</a>

		</td>

		<td>

			<a href="#questions_lieu">
	                
		        <button class="bouton">

		            <span class="icon-historique"></span>

		        </button>

	    	</a>

		</td>

	</tr>

	<tr>

		<td><p>Vacances</p></td>
		<td><p>Imaginaire</p></td>
		<td><p>Historique</p></td>

	</tr>

</table>

<table class="tab_question tableau">

	<tr>

		<td>

			<a href="#questions_lieu">
	                
		        <button class="bouton">

		            <span class="icon-croix"></span>

		        </button>

	    	</a>

		</td>

		<td>

			<a href="#questions_personnage">
	                
		        <button class="bouton">

		            <span class="icon-ok"></span>

		        </button>

	    	</a>

		</td>

	</tr>

</table>

<footer id="evolution_questionnaire">
               
	<img src="img/dreamorize_evolution.png" alt="DREAMORIZE - Evolution du questionnaire">
	
</footer>