<table class="tab_question">

	<tr>

		<td>

			<a href="#questions_couleur">
	                
		    <button class="bouton">

		        <span class="icon-fleche"></span>

		    </button>

	    	</a>

	    </td>

		<td>&nbsp;</td>

		<td>

			<p class="intitule_question">ÉMOTION(S) RESSENTIE(S) DANS TON RÊVE ?</p>

		</td>

		<td>&nbsp;</td>

		<td>

			<a href="#questions_lieu">
	                
		        <button class="bouton">

		           <span class="icon-fleche"></span>

		        </button>

	    	</a>

		</td>

	</tr>

</table>



<table class="tab_question">

	<tr>

		<td rowspan="2">

			<input type="range" min="0" max="100" step="5" value="70"> 

		</td>

		<td>&nbsp;</td>

		<td class="emotion_text color_user">70%</td>


	</tr>

	<tr>
	
		<td>&nbsp;</td>

		<td class="emotion_text">joie</td>

	</tr>

</table>

<table class="tab_question">

	<tr>

		<td rowspan="2">

			<input type="range" min="0" max="100" step="5" value="0"> 

		</td>

		<td>&nbsp;</td>

		<td class="emotion_text color_user">0%</td>


	</tr>

	<tr>
	
		<td>&nbsp;</td>

		<td class="emotion_text">colère</td>

	</tr>

</table>

<table class="tab_question">

	<tr>

		<td rowspan="2">

			<input type="range" min="0" max="100" step="5" value="45"> 

		</td>

		<td>&nbsp;</td>

		<td class="emotion_text color_user">45%</td>


	</tr>

	<tr>
	
		<td>&nbsp;</td>

		<td class="emotion_text">surprise</td>

	</tr>

</table>

<table class="tab_question">

	<tr>

		<td rowspan="2">

			<input type="range" min="0" max="100" step="5" value="0"> 

		</td>

		<td>&nbsp;</td>

		<td class="emotion_text color_user">0%</td>


	</tr>

	<tr>
	
		<td>&nbsp;</td>

		<td class="emotion_text">dégoût</td>

	</tr>

</table>

<table class="tab_question">

	<tr>

		<td rowspan="2">

			<input type="range" min="0" max="100" step="5" value="10"> 

		</td>

		<td>&nbsp;</td>

		<td class="emotion_text color_user">10%</td>


	</tr>

	<tr>
	
		<td>&nbsp;</td>

		<td class="emotion_text">peur</td>

	</tr>

</table>

<table class="tab_question tableau">

	<tr>

		<td>

			<a href="#questions_emotion">
	                
		        <button class="bouton">

		            <span class="icon-croix"></span>

		        </button>

	    	</a>

		</td>

		<td>

			<a href="#questions_lieu">
	                
		        <button class="bouton">

		           <span class="icon-ok"></span>

		        </button>

	    	</a>

		</td>

	</tr>

</table>

<footer id="evolution_questionnaire">
               
	<img src="img/dreamorize_evolution.png" alt="DREAMORIZE - Evolution du questionnaire">
	
</footer>