<table class="tab_question">

	<tr>

		<td>

			<a href="#questions_lieu">
	                
		    <button class="bouton">

		        <img src="img/pictos/memoriser/questionnaire/icon-fleche-gauche.png" alt="DREAMORIZE - Retour à  la question précédente">

		    </button>

	    	</a>

	    </td>

		<td>&nbsp;</td>

		<td>

			<p>QUI ÉTAIT DANS TON RÊVE ?</p>

		</td>

		<td>&nbsp;</td>

		<td>

			<a href="#questions_action">
	                
		        <button class="bouton">

		            <img src="img/pictos/memoriser/questionnaire/icon-fleche-droite.png" alt="DREAMORIZE - Aller à la question suivante">

		        </button>

	    	</a>

		</td>

	</tr>

</table>

<table class="tab_question">

	<tr>

		<td>&nbsp;</td>

		<td>

			<a href="#questions_personnage_animal">
	                
		        <button class="bouton">

		            <img src="img/dreamorize_bouton2.png" alt="DREAMORIZE - poil">

		        </button>

	    	</a>

		</td>

		<td>

			<a href="#questions_personnage_animal">
	                
		        <button class="bouton">

		            <img src="img/dreamorize_bouton2.png" alt="DREAMORIZE - plume">

		        </button>

	    	</a>

		</td>

	</tr>

	<tr>

		<td>&nbsp;</td>
		<td>poil</td>
		<td>plume</td>

	</tr>

	<tr>

		<td>

			<a href="#questions_personnage">
	                
		        <button class="bouton">

		            <img src="img/dreamorize_bouton2.png" alt="DREAMORIZE - Animal">

		        </button>

	    	</a>

		</td>

		<td>

			<a href="#questions_personnage_animal">
	                
		        <button class="bouton">

		            <img src="img/dreamorize_bouton2.png" alt="DREAMORIZE - écaille">

		        </button>

	    	</a>

		</td>

		<td>

			<a href="#questions_personnage_animal">
	                
		        <button class="bouton">

		            <img src="img/dreamorize_bouton2.png" alt="DREAMORIZE - autre">

		        </button>

	    	</a>

		</td>

	</tr>

	<tr>

		<td>Animal</td>
		<td>écaille</td>
		<td>autre</td>

	</tr>

	<tr>

		<td>&nbsp;</td>

		<td>&nbsp;</td>

		<td>&nbsp;</td>

	</tr>

	<tr>

		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>

	</tr>

</table>

<table class="tab_question">

	<tr>

		<td>

			<a href="#questions_personnage">
	                
		        <button class="bouton">

		            <img src="img/pictos/memoriser/questionnaire/icon-retour.png"  alt="DREAMORIZE - Retour à la question">

		        </button>

	    	</a>

		</td>

		<td>

			<a href="#questions_action">
	                
		        <button class="bouton">

		            <img src="img/pictos/memoriser/questionnaire/icon-valider.png" alt="DREAMORIZE - Aller à la prochaine question">

		        </button>

	    	</a>

		</td>

	</tr>

</table>

<footer id="evolution_questionnaire">
               
	<img src="img/dreamorize_evolution.png" alt="DREAMORIZE - Evolution du questionnaire">
	
</footer>