
<table class="tab_question">

	<tr>

		<td>

			<a href="#questions_date">
	                
		    <button class="bouton">

		        <img src="img/pictos/memoriser/questionnaire/icon-fleche-gauche.png" alt="DREAMORIZE - Retour à  la question précédente">

		    </button>

	    	</a>

	    </td>

		<td>&nbsp;</td>

		<td>

			<p class="intitule_question">DE QUEL TYPE ÉTAIT TON RÊVE ?</p>

		</td>

		<td>&nbsp;</td>

		<td>

			<a href="#questions_couleur">
	                
		        <button class="bouton">

		            <img src="img/pictos/memoriser/questionnaire/icon-fleche-droite.png" alt="DREAMORIZE - Aller à la question suivante">

		        </button>

	    	</a>

		</td>

	</tr>

</table>

<table class="tab_question">

	<tr>

		<td>

			<a href="#questions_couleur">
	                
		        <button class="bouton" ng-click="addType(1);">

		            <img src="img/pictos/memoriser/questionnaire/type/icon-reve.png" alt="DREAMORIZE - Type - Rêve" >

		        </button>

	    	</a>

		</td>

		<td>

			<a href="#questions_couleur">
	                
		        <button class="bouton" ng-click="addType(2);">

		            <img src="img/pictos/memoriser/questionnaire/type/icon-cauchemar.png" alt="DREAMORIZE - Type - Cauchemar">

		        </button>

	    	</a>

		</td>

		<td>

			<a href="#questions_couleur">
	                
		        <button class="bouton" ng-click="addType(4);">

		            <img src="img/pictos/memoriser/questionnaire/type/icon-enfantin.png" alt="DREAMORIZE - Type - Enfantin">

		        </button>

	    	</a>

		</td>

	</tr>

	<tr>

		<td><p>Rêve</p></td>
		<td><p>Cauchemar</p></td>
		<td><p>Enfantin</p></td>

	</tr>

	<tr>

		<td>

			<a href="#questions_couleur">
	                
		        <button class="bouton" ng-click="addType(3);">

		            <img src="img/pictos/memoriser/questionnaire/type/icon-lucide.png" alt="DREAMORIZE - Type - Lucide">

		        </button>

	    	</a>

		</td>

		<td>

			<a href="#questions_couleur">
	                
		        <button class="bouton" ng-click="addType(5);">

		            <img src="img/pictos/memoriser/questionnaire/type/icon-dejavu.png" alt="DREAMORIZE - Type - Déjà-Vu">

		        </button>

	    	</a>

		</td>

		<td>&nbsp;</td>

	</tr>

	<tr>

		<td><p>Lucide</p></td>
		<td><p>Déjà-Vu</p></td>
		<td>&nbsp;</td>

	</tr>

</table>

<table class="tab_question">

	<tr>

		<td>

			<a href="#questions_type">
	                
		        <button class="bouton">

		            <img src="img/pictos/memoriser/questionnaire/icon-retour.png" alt="DREAMORIZE - Retour à la question">

		        </button>

	    	</a>

		</td>

		<td>

			<a href="#questions_couleur">
	                
		        <button class="bouton">

		            <img src="img/pictos/memoriser/questionnaire/icon-valider.png" alt="DREAMORIZE - Aller à la prochaine question">

		        </button>

	    	</a>

		</td>

	</tr>

</table>

<footer id="evolution_questionnaire">
               
	<img src="img/dreamorize_evolution.png" alt="DREAMORIZE - Evolution du questionnaire">
	
</footer>
