<table class="tab_question">

	<tr>

		<td>

			<a href="#questions_keywords">
	                
		    <button class="bouton">

		        <span class="icon-fleche"></span>

		    </button>

	    	</a>

	    </td>

		<td>&nbsp;</td>

		<td>

			<p class="intitule_question">TITRE POUR TON RÊVE ?</p>

		</td>

		<td>&nbsp;</td>

		<td>

			<a href="#visualiser">
	                
		        <button class="bouton">

		            <span class="icon-fleche"></span>

		        </button>

	    	</a>

		</td>

	</tr>

</table>

<div class="date_element">

	<input type="text" value="&nbsp;" class="action_reve" ng-model="titre"/>

</div>

<table class="tab_question tableau">

	<tr>

		<td>

			<a href="#questions_titre">
	                
		        <button class="bouton">

		            <span class="icon-croix"></span>

		        </button>

	    	</a>

		</td>

		<td>

			<a href="#home">
	                
		        <button class="bouton" ng-click="addTitre(titre);postReve();">

		            <span class="icon-ok"></span>

		        </button>

	    	</a>

		</td>

	</tr>

</table>

<footer id="evolution_questionnaire">
               
	<img src="img/dreamorize_evolution.png" alt="DREAMORIZE - Evolution du questionnaire">
	
</footer>