<table class="tab_question">

	<tr>

		<td>

			<a href="#question_action">
	                
		    <button class="bouton">

		        <img src="img/pictos/memoriser/questionnaire/icon-fleche-gauche.png" alt="DREAMORIZE - Retour à la page précédente">

		    </button>

	    	</a>

	    </td>

		<td>&nbsp;</td>

		<td>

			<p>AUTRE CHOSE DANS TON RÊVE ?</p>

		</td>

		<td>&nbsp;</td>

		<td>

			<a href="#questions_titre">
	                
		        <button class="bouton">

		            <img src="img/pictos/memoriser/questionnaire/icon-fleche-droite.png" alt="DREAMORIZE - Enregistrer">

		        </button>

	    	</a>

		</td>

	</tr>

</table>

<div class="date_element">

	<input type="text" value="ENTRE DES MOTS-CLÉS" class="action_reve"/>

</div>

<table class="tab_question">

	<tr>

		<td>

			<a href="#questions_keywords">
	                
		        <button class="bouton">

		            <img src="img/pictos/memoriser/questionnaire/icon-retour.png" alt="DREAMORIZE - Retour à la question">

		        </button>

	    	</a>

		</td>

		<td>

			<a href="#questions_titre">
	                
		        <button class="bouton">

		            <img src="img/pictos/memoriser/questionnaire/icon-valider.png" alt="DREAMORIZE - Aller à la prochaine question">

		        </button>

	    	</a>

		</td>

	</tr>

</table>

<footer id="evolution_questionnaire">
               
	<img src="img/dreamorize_evolution.png" alt="DREAMORIZE - Evolution du questionnaire">
	
</footer>