<table class="tab_question">

	<tr>

		<td>

			<a href="#questions_emotion">
	                
		    <button class="bouton">

		        <img src="img/pictos/memoriser/questionnaire/icon-fleche-gauche.png" alt="DREAMORIZE - Retour à  la question précédente">

		    </button>

	    	</a>

	    </td>

		<td>&nbsp;</td>

		<td>

			<p>OÙ SE PASSAIT TON RÊVE ?</p>

		</td>

		<td>&nbsp;</td>

		<td>

			<a href="#questions_personnage">
	                
		        <button class="bouton">

		            <img src="img/pictos/memoriser/questionnaire/icon-fleche-droite.png" alt="DREAMORIZE - Aller à la question suivante">

		        </button>

	    	</a>

		</td>

	</tr>

</table>

<table class="tab_question">

	<tr>

		<td>

			<a href="#questions_lieu">
	                
		        <button class="bouton">

		            <img src="img/pictos/memoriser/questionnaire/lieu/icon-maison.png" alt="DREAMORIZE - Maison">

		        </button>

	    	</a>

		</td>

		<td>

			<a href="#questions_lieu">
	                
		        <button class="bouton">

		            <img src="img/pictos/memoriser/questionnaire/lieu/icon-travail.png" alt="DREAMORIZE - Travail">

		        </button>

	    	</a>

		</td>

		<td>

			<a href="#questions_lieu">
	                
		        <button class="bouton">

		            <img src="img/pictos/memoriser/questionnaire/lieu/icon-ecole.png" alt="DREAMORIZE - École">

		        </button>

	    	</a>

		</td>

	</tr>

	<tr>

		<td><p>Maison</p></td>
		<td><p>Travail</p></td>
		<td><p>École</p></td>

	</tr>

	<tr>

		<td>

			<a href="#questions_lieu">
	                
		        <button class="bouton">

		            <img src="img/pictos/memoriser/questionnaire/lieu/icon-public.png" alt="DREAMORIZE - Public">

		        </button>

	    	</a>

		</td>

		<td>

			<a href="#questions_lieu">
	                
		        <button class="bouton">

		            <img src="img/pictos/memoriser/questionnaire/lieu/icon-commerce.png" alt="DREAMORIZE - Commerce">

		        </button>

	    	</a>

		</td>

		<td>

			<a href="#questions_lieu">
	                
		        <button class="bouton">

		            <img src="img/pictos/memoriser/questionnaire/lieu/icon-transport.png" alt="DREAMORIZE - Transport">

		        </button>

	    	</a>

		</td>

	</tr>

	<tr>

		<td><p>Public</p></td>
		<td><p>Commerce</p></td>
		<td><p>Transport</p></td>

	</tr>

	<tr>

		<td>

			<a href="#questions_lieu">
	                
		        <button class="bouton">

		            <img src="img/pictos/memoriser/questionnaire/lieu/icon-urbain.png" alt="DREAMORIZE - Urbain">

		        </button>

	    	</a>

		</td>

		<td>

			<a href="#questions_lieu">
	                
		        <button class="bouton">

		            <img src="img/pictos/memoriser/questionnaire/lieu/icon-rural.png" alt="DREAMORIZE - Rural">

		        </button>

	    	</a>

		</td>

		<td>

			<a href="#questions_lieu">
	                
		        <button class="bouton">

		            <img src="img/pictos/memoriser/questionnaire/lieu/icon-loisirs.png" alt="DREAMORIZE - Loisirs">

		        </button>

	    	</a>

		</td>

	</tr>

	<tr>

		<td><p>Urbain</p></td>
		<td><p>Rural</p></td>
		<td><p>Loisirs</p></td>

	</tr>

	<tr>

		<td>

			<a href="#questions_lieu">
	                
		        <button class="bouton">

		            <img src="img/pictos/memoriser/questionnaire/lieu/icon-vacances.png" alt="DREAMORIZE - Vacances">

		        </button>

	    	</a>

		</td>

		<td>

			<a href="#questions_lieu">
	                
		        <button class="bouton">

		            <img src="img/pictos/memoriser/questionnaire/lieu/icon-imaginaire.png" alt="DREAMORIZE - Imaginaire">

		        </button>

	    	</a>

		</td>

		<td>

			<a href="#questions_lieu">
	                
		        <button class="bouton">

		            <img src="img/pictos/memoriser/questionnaire/lieu/icon-historique.png" alt="DREAMORIZE - Historique">

		        </button>

	    	</a>

		</td>

	</tr>

	<tr>

		<td><p>Vacances</p></td>
		<td><p>Imaginaire</p></td>
		<td><p>Historique</p></td>

	</tr>

</table>

<table class="tab_question">

	<tr>

		<td>

			<a href="#questions_lieu">
	                
		        <button class="bouton">

		            <img src="img/pictos/memoriser/questionnaire/icon-retour.png" alt="DREAMORIZE - Retour à la question">

		        </button>

	    	</a>

		</td>

		<td>

			<a href="#questions_personnage">
	                
		        <button class="bouton">

		            <img src="img/pictos/memoriser/questionnaire/icon-valider.png" alt="DREAMORIZE - Aller à la prochaine question">

		        </button>

	    	</a>

		</td>

	</tr>

</table>

<footer id="evolution_questionnaire">
               
	<img src="img/dreamorize_evolution.png" alt="DREAMORIZE - Evolution du questionnaire">
	
</footer>