<table class="tab_question">

	<tr>

		<td>

			<a href="#questions_lieu">
	                
		    <button class="bouton">

		        <span class="icon-fleche"></span>

		    </button>

	    	</a>

	    </td>

		<td>&nbsp;</td>

		<td>

			<p class="intitule_question">QUI ÉTAIT DANS TON RÊVE ?</p>

		</td>

		<td>&nbsp;</td>

		<td>

			<a href="#questions_action">
	                
		        <button class="bouton">

		             <span class="icon-fleche"></span>

		        </button>

	    	</a>

		</td>

	</tr>

</table>

<table class="tab_question">

	<tr>

		<td>&nbsp;</td>

		<td>

			<a href="#questions_personnage_animal">
	                
		        <button class="bouton">

		           <span class="icon-poil"></span>

		        </button>

	    	</a>

		</td>

		<td>

			<a href="#questions_personnage_animal">
	                
		        <button class="bouton">

		             <span class="icon-plume"></span>

		        </button>

	    	</a>

		</td>

	</tr>

	<tr>

		<td>&nbsp;</td>
		<td><p>poil</p></td>
		<td><p>plume</p></td>

	</tr>

	<tr>

		<td>

			<a href="#questions_personnage">
	                
		        <button class="bouton">

		            <span class="icon-animal"></span>

		        </button>

	    	</a>

		</td>

		<td>

			<a href="#questions_personnage_animal">
	                
		        <button class="bouton">

		             <span class="icon-ecaille"></span>

		        </button>

	    	</a>

		</td>

		<td>

			<a href="#questions_personnage_animal">
	                
		        <button class="bouton">

		           <span class="icon-autre_animal"></span>

		        </button>

	    	</a>

		</td>

	</tr>

	<tr>

		<td><p>Animal</p></td>
		<td><p>écaille</p></td>
		<td><p>autre</p></td>

	</tr>

	<tr>

		<td>&nbsp;</td>

		<td>&nbsp;</td>

		<td>&nbsp;</td>

	</tr>

	<tr>

		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>

	</tr>

</table>

<table class="tab_question tableau">

	<tr>

		<td>

			<a href="#questions_personnage">
	                
		        <button class="bouton">

		            <span class="icon-croix"></span>

		        </button>

	    	</a>

		</td>

		<td>

			<a href="#questions_action">
	                
		        <button class="bouton">

		             <span class="icon-ok"></span>

		        </button>

	    	</a>

		</td>

	</tr>

</table>

<footer id="evolution_questionnaire">
               
	<img src="img/dreamorize_evolution.png" alt="DREAMORIZE - Evolution du questionnaire">
	
</footer>