<table class="tab_question">

	<tr>

		<td>

			<a href="#questions_lieu">
	                
		    <button class="bouton">

		         <span class="icon-fleche"></span>

		    </button>

	    	</a>

	    </td>

		<td>&nbsp;</td>

		<td>

			<p class="intitule_question">QUI ÉTAIT DANS TON RÊVE ?</p>

		</td>

		<td>&nbsp;</td>

		<td>

			<a href="#questions_action">
	                
		        <button class="bouton">

		            <span class="icon-fleche"></span>

		        </button>

	    	</a>

		</td>

	</tr>

</table>

<table class="tab_question">

	<tr>

		<td>

			<a href="#questions_personnage_humain">
	                
		        <button class="bouton">

		            <span class="icon-toi"></span>

		        </button>

	    	</a>

		</td>

		<td>

			<a href="#questions_personnage">
	                
		        <button class="bouton">

		            <span class="icon-humain"></span>

		        </button>

	    	</a>

		</td>

		<td>

			<a href="#questions_personnage_humain">
	                
		        <button class="bouton">

		            <span class="icon-famille"></span>

		        </button>

	    	</a>

		</td>

	</tr>

	<tr>

		<td><p>toi</p></td>
		<td><p>Humain</p></td>
		<td><p>famille</p></td>

	</tr>

	<tr>

		<td>

			<a href="#questions_personnage_humain">
	                
		        <button class="bouton">

		            <span class="icon-ami"></span>

		        </button>

	    	</a>

		</td>

		<td>

			<a href="#questions_personnage_humain">
	                
		        <button class="bouton">

		            <span class="icon-amour"></span>

		        </button>

	    	</a>

		</td>

		<td>

			<a href="#questions_personnage_humain">
	                
		        <button class="bouton">

		            <span class="icon-connaissance"></span>

		        </button>

	    	</a>

		</td>

	</tr>

	<tr>

		<td><p>ami</p></td>
		<td><p>amour</p></td>
		<td><p>contact</p></td>

	</tr>

	<tr>

		<td>

			<a href="#questions_personnage_humain">
	                
		        <button class="bouton">

		             <span class="icon-inconnu"></span>


		        </button>

	    	</a>

		</td>

		<td>

			<a href="#questions_personnage_humain">
	                
		        <button class="bouton">

		            <span class="icon-collegue"></span>

		        </button>

	    	</a>

		</td>

		<td>

			<a href="#questions_personnage_humain">
	                
		        <button class="bouton">

		            <span class="icon-star"></span>
		            
		        </button>

	    	</a>

		</td>

	</tr>

	<tr>

		<td><p>inconnu</p></td>
		<td><p>collègue</p></td>
		<td><p>star</p></td>

	</tr>

</table>

<table class="tab_question tableau">

	<tr>

		<td>

			<a href="#questions_personnage">
	                
		        <button class="bouton">

		             <span class="icon-croix"></span>

		        </button>

	    	</a>

		</td>

		<td>

			<a href="#questions_action">
	                
		        <button class="bouton">

		            <span class="icon-ok"></span>

		        </button>

	    	</a>

		</td>

	</tr>

</table>

<footer id="evolution_questionnaire">
               
	<img src="img/dreamorize_evolution.png" alt="DREAMORIZE - Evolution du questionnaire">
	
</footer>