<div ng-controller="memCtrl">

    <a href="#memoriser" ng-click="increaseLevel()">
                
        <button class="bouton">

            <img src="img/pictos/home/icon-memoriser1.png" alt="DREAMORIZE - Mémoriser">

        </button>

    </a><br/><br/>

    <a href="#explorer" ng-click="increaseLevel()">
                
        <button class="bouton">

            <img src="img/pictos/home/icon-explorer.png" alt="DREAMORIZE - Explorer">

        </button>

    </a><br/><br/>

    <a href="#visualiser" ng-click="increaseLevel()">
                
        <button class="bouton">

            <img src="img/pictos/home/icon-visualiser.png" alt="DREAMORIZE - Visualiser">

        </button>

    </a><br/><br/>

    <a href="#partager" ng-click="increaseLevel()">
                
        <button class="bouton">

            <img src="img/pictos/home/icon-echanger.png" alt="DREAMORIZE - Partager">

        </button>

    </a><br/><br/>

</div>