<div class="picto_vocal">
                
    <button class="bouton">

        <img src="img/pictos/memoriser/vocal/icon-vocal-off.png" alt="DREAMORIZE - Pictogramme Vocal">

    </button>

</div>

<div class="link_question">

	<p>ACCÉDER AU <br/>QUESTIONNAIRE ?</p>

</div>

<table class="enregistrer">

	<tr>

		<td>

			<a href="#">
	                
		        <button class="bouton">

		            <img src="img/pictos/memoriser/questionnaire/icon-retour.png" alt="DREAMORIZE - Retour au menu principal">

		        </button>

	    	</a>

		</td>

		<td>

			<a href="#questions_date">
	                
		        <button class="bouton">

		            <img src="img/pictos/memoriser/questionnaire/icon-valider.png" alt="DREAMORIZE - Accès au questionnaire">

		        </button>

	    	</a>

		</td>

	</tr>

</table>