<div class="picto_vocal">
                
    <button class="bouton">

        <img src="img/pictos/memoriser/vocal/icon-vocal-on.png" alt="DREAMORIZE - Pictogramme Vocal">

    </button>

</div>

<div>

<table class="enregistrer">

	<tr>

		<td>&nbsp;</td>

		<td>

			<a href="#vocal_2">
	                
		        <button class="bouton">

		            <img src="img/pictos/memoriser/vocal/icon-micro-on.png" alt="DREAMORIZE - Enregistrer">

		        </button>

	    	</a>

		</td>

		<td>&nbsp;</td>

	</tr>

	<tr>
		
		<td>&nbsp;</td>
		<td><p class="titre_bouton">00:15</p></td>
		<td>&nbsp;</td>

	</tr>

	<tr>

		<td>

			<a href="#vocal">
	                
		        <button class="bouton">

		            <img src="img/pictos/memoriser/vocal/icon-restart.png" alt="DREAMORIZE - Recommencer">

		        </button>

	    	</a>

		</td>

		<td>

			<a href="#vocal_3">
	                
		        <button class="bouton">

		            <img src="img/pictos/memoriser/vocal/icon-pause.png" alt="DREAMORIZE - Mettre en pause">

		        </button>

	    	</a>

		</td>

		<td>

			<a href="#vocal_5">
	                
		        <button class="bouton">

		            <img src="img/pictos/memoriser/vocal/icon-valider.png" alt="DREAMORIZE - Valider et Enregistrer">

		        </button>

	    	</a>

		</td>

	</tr>

</table>

</div>