<div class="picto_vocal">
                
    <button class="bouton">

        <img src="img/pictos/memoriser/vocal/icon-vocal-off.png" alt="DREAMORIZE - Pictogramme Vocal">

    </button>

</div>

<div class="link_question">

	<p>ACCÉDER AU <br/>QUESTIONNAIRE ?</p>

</div>

<table class="enregistrer">

	<tr>

		<td>

			<a href="#">
	                
		        <button class="bouton">

		            <span class="icon-croix"></span>

		        </button>

	    	</a>

		</td>

		<td>

			<a href="#questions_date">
	                
		        <button class="bouton">

		            <span class="icon-ok"></span>

		        </button>

	    	</a>

		</td>

	</tr>

</table>