<div class="picto_vocal">
                
    <button class="bouton">

        <img src="img/pictos/memoriser/vocal/icon-vocal-off.png" alt="DREAMORIZE - Pictogramme Vocal">

    </button>

</div>

<div>

<table class="enregistrer">

	<tr>

		<td>

			<a href="#vocal_2">
	                
		        <button class="bouton">

		            <span class="icon-micro"></span>

		        </button>

	    	</a>

		</td>

	</tr>

	<tr>		
		<td><p class="titre_bouton">02:00</p></td>
	</tr>

</table>

</div>