@font-face {
	font-family: 'dreamorize';
	src:url('../font/dreamorize.eot?2kscin');
	src:url('../font/dreamorize.eot?#iefix2kscin') format('embedded-opentype'),
		url('../font/dreamorize.woff?2kscin') format('woff'),
		url('../font/dreamorize.ttf?2kscin') format('truetype'),
		url('../font/dreamorize.svg?2kscin#dreamorize') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'dreamorize';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-vacances:before {
	content: "\e600";
}
.icon-urbain:before {
	content: "\e601";
}
.icon-triste:before {
	content: "\e602";
}
.icon-travail:before {
	content: "\e603";
}
.icon-transport:before {
	content: "\e604";
}
.icon-toi:before {
	content: "\e605";
}
.icon-surpris:before {
	content: "\e606";
}
.icon-star:before {
	content: "\e607";
}
.icon-rural:before {
	content: "\e608";
}
.icon-reve:before {
	content: "\e609";
}
.icon-reload:before {
	content: "\e60a";
}
.icon-questions:before {
	content: "\e60b";
}
.icon-public:before {
	content: "\e60c";
}
.icon-psychologique:before {
	content: "\e60d";
}
.icon-poil:before {
	content: "\e60e";
}
.icon-plume:before {
	content: "\e60f";
}
.icon-play:before {
	content: "\e610";
}
.icon-peur:before {
	content: "\e611";
}
.icon-pause:before {
	content: "\e612";
}
.icon-ovni:before {
	content: "\e613";
}
.icon-ok:before {
	content: "\e614";
}
.icon-non_identifier:before {
	content: "\e615";
}
.icon-mouvement:before {
	content: "\e616";
}
.icon-monstre:before {
	content: "\e617";
}
.icon-micro:before {
	content: "\e618";
}
.icon-menu:before {
	content: "\e619";
}
.icon-memoriser:before {
	content: "\e61a";
}
.icon-maison:before {
	content: "\e61b";
}
.icon-lucide:before {
	content: "\e61c";
}
.icon-loisirs:before {
	content: "\e61d";
}
.icon-joie:before {
	content: "\e61e";
}
.icon-inconnu:before {
	content: "\e61f";
}
.icon-imaginaire_lieu:before {
	content: "\e620";
}
.icon-imaginaire_qui:before {
	content: "\e621";
}
.icon-humain:before {
	content: "\e622";
}
.icon-historique:before {
	content: "\e623";
}
.icon-fleche:before {
	content: "\e624";
}
.icon-famille:before {
	content: "\e625";
}
.icon-explorer:before {
	content: "\e626";
}
.icon-enfantin:before {
	content: "\e627";
}
.icon-ecole:before {
	content: "\e628";
}
.icon-echanger:before {
	content: "\e629";
}
.icon-ecaille:before {
	content: "\e62a";
}
.icon-destruction:before {
	content: "\e62b";
}
.icon-dejavu:before {
	content: "\e62c";
}
.icon-degout:before {
	content: "\e62d";
}
.icon-croix:before {
	content: "\e62e";
}
.icon-creation:before {
	content: "\e62f";
}
.icon-connaissance:before {
	content: "\e630";
}
.icon-confiant:before {
	content: "\e631";
}
.icon-communication:before {
	content: "\e632";
}
.icon-commerce:before {
	content: "\e633";
}
.icon-collegue:before {
	content: "\e634";
}
.icon-colere:before {
	content: "\e635";
}
.icon-cauchemar:before {
	content: "\e636";
}
.icon-animal:before {
	content: "\e637";
}
.icon-autre_animal:before {
	content: "\e638";
}
.icon-amour:before {
	content: "\e639";
}
.icon-ami:before {
	content: "\e63a";
}
.icon-visualiser:before {
	content: "\e63b";
}
.icon-autre:before {
	content: "\e63c";
}
